GITHUB_OAUTH_CLIENT_ID=your_client_id_here
GITHUB_OAUTH_CLIENT_SECRET=your_client_secret_here
SESSION_SECRET=change_me_to_a_random_string
JIRA_EMAIL=your_jira_email@redhat.com
JIRA_API_TOKEN=your_jira_api_token
